*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

body {
  font-family: 'Open Sans', sans-serif !important; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5; }
  @media (min-width: 50em) {
    h1 {
      max-width: 25ch;
      font-size: 2.5rem; } }

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5; }
  @media (min-width: 50em) {
    h2 {
      max-width: 25ch;
      font-size: 2.5rem; } }

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5; }
  @media (min-width: 50em) {
    h3 {
      max-width: 25ch; } }

p {
  line-height: 1.5; }
  @media (min-width: 50em) {
    p {
      max-width: 55ch; } }

.button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3065f8;
  color: #f6f6fe;
  font-weight: 700; }
  .button:hover {
    cursor: pointer;
    opacity: 0.7; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(1rem + 2vw); }

.logo {
  max-width: calc(5rem + 2vw); }
  .logo img {
    width: 100%; }

.nav-list {
  display: flex;
  gap: calc(1rem + 2vw); }
  .nav-list > li > a {
    text-decoration: none;
    color: #070439; }

.hero {
  display: flex;
  flex-direction: column-reverse;
  padding: calc(1rem + 2vw);
  gap: 2rem; }
  @media (min-width: 50em) {
    .hero {
      flex-direction: row;
      align-items: center;
      justify-content: space-around; } }

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center; }
  @media (min-width: 50em) {
    .hero__left {
      text-align: left; }
      .hero__left form button {
        max-width: 30%; } }

.hero__right {
  width: 100%; }
  .hero__right img {
    max-width: 100%; }
  @media (min-width: 50em) {
    .hero__right {
      max-width: 40%; } }

.hero__form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 50em) {
    .hero__form {
      display: block; } }
  .hero__form input {
    width: 100%;
    max-width: 20rem;
    height: 3rem;
    padding: 1rem;
    border: 1px solid #070439;
    border-radius: 5px;
    margin-bottom: 0.5rem; }
    @media (min-width: 75em) {
      .hero__form input {
        width: 70%;
        margin-bottom: 0;
        margin-right: 0.5rem; } }
  .hero__form button {
    width: 100%;
    max-width: 20rem; }

.main-section {
  display: flex;
  flex-direction: column; }
  .main-section .desktop-curve {
    display: none; }
  @media (min-width: 50em) {
    .main-section .desktop-curve {
      display: block; }
    .main-section .mobile-curve {
      display: none; } }

.main-content {
  display: flex;
  flex-direction: column-reverse;
  padding: calc(1rem + 2vw);
  background-color: #f6f6fe; }
  @media (min-width: 50em) {
    .main-content {
      flex-direction: row;
      justify-content: space-around; } }

.main-content__right {
  width: 100%; }
  .main-content__right img {
    max-width: 100%; }
  @media (min-width: 50em) {
    .main-content__right {
      max-width: 40%; } }

.main-content__left {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .main-content__left h2 {
    text-align: center; }
    @media (min-width: 50em) {
      .main-content__left h2 {
        text-align: left;
        max-width: max-content; } }
  .main-content__left a {
    text-decoration: none;
    color: #3c9f8f; }
    .main-content__left a img {
      vertical-align: text-bottom;
      height: 1.25rem; }
  @media (min-width: 50em) {
    .main-content__left {
      width: auto; } }

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 25rem;
  background-color: #ffffff;
  border-radius: 10px; }
  .testimonial .quotes {
    height: 1rem;
    width: 1rem; }
  .testimonial p {
    font-size: 0.8rem; }
  .testimonial .testimonial__profile {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .testimonial .testimonial__profile img {
      height: 2.5rem;
      border-radius: 100%; }
    .testimonial .testimonial__profile p {
      font-size: 0.7rem; }

.signUp {
  background-color: #585989;
  padding: 4rem calc(1rem + 2vw);
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media (min-width: 50em) {
    .signUp {
      flex-direction: row;
      justify-content: space-around; } }

.signUp__left {
  text-align: center;
  color: #f6f6fe; }
  @media (min-width: 50em) {
    .signUp__left {
      text-align: left; } }
  .signUp__left h2 {
    margin-bottom: 1rem; }

@media (min-width: 50em) {
  .signUp__right {
    min-width: 30%; }
    .signUp__right form input {
      display: block;
      min-width: 100%;
      margin-bottom: 1rem; }
    .signUp__right form button {
      width: max-content; } }

footer {
  padding: calc(1rem + 3vw);
  background-color: #070439;
  color: #f6f6fe; }

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media (min-width: 50em) {
    .footer-content {
      flex-direction: row;
      justify-content: space-between; } }

.logo {
  margin-bottom: 2rem; }

.contact-info p {
  margin-bottom: 1rem; }
  .contact-info p img {
    margin-right: 1rem;
    vertical-align: text-bottom; }

.footer-nav li {
  margin-bottom: 1rem; }
  .footer-nav li a {
    text-decoration: none;
    color: inherit; }
    .footer-nav li a:hover {
      color: #3065f8; }

.socials {
  display: flex;
  justify-content: center; }
  .socials img {
    max-width: 1.5rem; }
    .socials img:not(:last-child) {
      margin-right: 2rem; }
    .socials img:hover {
      cursor: pointer; }
