.hero {
	display: flex;
	flex-direction: column-reverse;
	padding: calc(1rem + 2vw);
	gap: 2rem;

	@media (min-width: 50em) {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}

.hero__left {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;

	@media (min-width: 50em) {
		text-align: left;
	}
}

.hero__right {
	width: 100%;

	img {
		max-width: 100%;
	}

	@media (min-width: 50em) {
		max-width: 40%;
	}
}
